{% extends 'base.html.twig' %}
{% block body %}
<div lass="container">
<div id="head" class="jumbotron text-center">

 </div>
 <h2 id="bigtitre"> les dernieres sorties</h2>
 <div class="row flex">

 {% for book in books %}
 <div  class="col-3">
 
    <div id="carte" class="card">
     <div class="card-body">
        
      <h6>  <a  href="{{path('book.show',{id: book.id, slug: book.slug})}}" >{{ book.title }}</a></h6>
         
         {% if book.filename %}
<img id="image"  src="{{ vich_uploader_asset(book, 'imageFile')| imagine_filter('thumb')}}" alt="card-img-top">
{% else %}
<img id="image"   src="{{ '/images/books/empty.png'| imagine_filter('thumb')}}" alt="card-img-top"style="width:150px;height:150px"><br>
{% endif %}
</br>
        <p class="card-text">Autheur: {{book.author}} </p>
        <p class="card-text"> Editeur : {{book.editor}}</p>
        <p>Prix:</p>
        <div class="text-primary" style="font-weight:bold ; font-size:1rem"> {{book.price}} €</div>
    
        </div>
            </div>
                </div>
 {% endfor %}

</div>
</div>
<script src="/js/main.js"></script>
 <link rel="stylesheet" href="/css/main.css" >


{% endblock %}
