
{{ form_start(form) }}
<div class="row">
<div class="col-md-4">{{form_row(form.title)}}</div>
<div class="col-md-4">{{form_row(form.author)}}</div>
<div class="col-md-4">{{form_row(form.price)}}</div>

</div>

<div class="row">
<div class="col-md-2">{{form_row(form.editor)}}</div>

<div class="col-md-2">{{form_row(form.category)}}</div>
<div class="col-md-2">{{form_row(form.isbn)}}</div>

</div>

<div class="row">
<div class="col-md-5">{{form_row(form.imageFile)}}</div>
<div class="col-md-5">{{form_row(form.ean)}}</div>
<div class="col-md-2">{{form_row(form.description)}}</div>

</div>

{{form_rest(form)}}
<button class="btn btn-primary">{{button | default('Enregistrer')}}</button>
{{ form_end(form) }}
