{% extends 'base.html.twig' %}
{% block title 'Gérer les biens' %}

{% block body %}

<div class="container -mt4">

<h1>Gérer les biens</h1>
<div class="text-right">
 <a class="btn btn-primary" href="{{path('option.index')}}">categories</a>
<a href="{{path('admin.new')}}" class="btn btn-primary">Ajoutter un livre</a>

</div>

{% for message in app.flashes('success')%}
<div class="alert alert-success">
{{message}}
</div>
{% endfor %}
<table class="table table-striped">
<thead>
    <tr>
    <th>Titre</th>
   <th>Ajouté par</th>
    <th>Date</th>
    <th>Categorie</th> 
    <th>Action</th>
    </tr>
</thead>
<tbody>
{% for book in books %}
<tr>
<td>{{ book.title }}</td>
<td>{{book.user.username}}</td>
<td>{{book.createdAt|date("m/d/Y")}}
<td>{{book.categoryType}}</td>
<td>
<a href="{{ path('admin.edit', {id: book.id}) }}" class="btn btn-secondary">Editer</a>
<form method="post" action="{{ path('admin.delete', {id: book.id}) }}" style="display:inline-block" onsubmit="return confirm('Etes vous sûre de vouloir supprimer cette article ?')">
<input type="hidden" name="_method" value="DELETE">
<button class="btn btn-danger">Supprimer</button>
<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">


</form>
</td>

</tr>
{% endfor %}
</tbody>

</table>

</div>
 
 </div>
 </div>
{% endblock %}