{% extends 'base.html.twig' %}
{% block title 'Admin' %}

{% block body %}
<div class="container mt-4">
<h1>Ajouter des livres</h1>
{{ include ('admin/form.html.twig',{form: form, button: 'Enregister'})}}
{% endblock %}

