{% extends 'base.html.twig' %}
{% block title 'Gérer les biens' %}

{% block body %}

<div class="container -mt4">
<h1>Gérer les options</h1>

{% for message in app.flashes('success')%}
<div class="alert alert-success">
{{message}}
</div>
{% endfor %}
<table class="table table-striped">
<thead>
    <tr>
    <th>name</th>
    <th>Action</th>
    </tr>
</thead>
<tbody>
{% for option in options %}
<tr>
<td>{{ option.name }}</td>
<td>
<a href="{{ path('option.edit', {id: option.id}) }}" class="btn btn-secondary">Editer</a>
<form method="post" action="{{ path('option.delete', {id: option.id}) }}" style="display:inline-block" onsubmit="return confirm('Etes vous sûre de vouloir supprimer cette article ?')">
<input type="hidden" name="_method" value="DELETE">
<button class="btn btn-danger">Supprimer</button>
<input type="hidden" name="_method" value="SHOW">
<a href="{{path('option.booksByOptionId',{id: option.id})}}" class="btn btn-info">Afficher les livres de cette categorie</a>
<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">


</form>
</td>
</tr>
{% endfor %}
</tbody>

</table>
<div class="text-right">
<a href="{{path('option.new')}}" class="btn btn-primary">ajoutter une option</a>
</div>
</div>
 
 </div>
 </div>
{% endblock %}