{% extends 'base.html.twig' %}

{% block title %}Option{% endblock %}

{% block body %}
    <h1>Option</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ option.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ option.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('option.index') }}">back to list</a>

    <a href="{{ path('option.edit', {'id': option.id}) }}">edit</a>

    {{ include('option/_delete_form.html.twig') }}
{% endblock %}
