<p>Un utitlisateur vous a contacté à propos de votre livre:<p/><a href="{{url('book.show',{id: contact.book.id, slug: contact.book.slug})}}" >{{contact.book.title}}</a>
<p>De : {{sender.email}}</p>
<p>Vous : {{recever.email}}</p>
<div style="padding:10px;background-color:#DBB1CD">
<p >Le message : {{contact.message}}</p>
</div>